/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
_ide_helper.php
config.yaml
/public/css/all.*
/public/css/app.*
/public/js/all.*
/public/js/app.*
/resources/assets/css/*
/resources/assets/js/*
!/resources/assets/js/components
!/resources/assets/js/app.js
/public/mix-manifest.json
package-lock.json
